* {
    margin: 0;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 700;
}

html {
    font-size: 1.25vh;
    color: white;
}

a {
    text-decoration: none;
}

body {
    background-color: #141F28;
}

header {
    padding: 15px 3% 15px;
    background-color: #fff;
    align-items: center;
}

header a {
    color: #141F28;
}

#header_menu {
    height: 24px;
    display: flex;
    align-items: center;
}

#img001 img{
    height: clamp(18px, 1.25em, 100%);
}

#header_menu_texts {
    height: 100%;
    list-style: none;
    margin: 0;
    display: flex;
}

#header_menu ul li {
    height: 100%;
    padding: 0 10%;
    font-size: clamp(18px, 1.25em, 20px);
    white-space: nowrap;
    display: flex;
    align-items: center;
}

#main {
    width: min(65vw, 600px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}

#g01_3qr3q {
    width: 100%;
}

#g01_img01 {
    width: 100%;
}

#g01_img02 {
    padding-top: 5px;
    width: min(20%, 90px);
}

#g01_menu {
    font-size: min(2.5em, 30px);
}

#g01_menu a{
    color: white;
    display: inline-block;
    position: relative;
}

#g01_menu a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    transform: scale(0, 1);
    transform-origin: left;
    transition: 0.4s;
}

#g01_menu a:hover:before {
    transform: scale(1);
}