* {
    margin: 0;
}

header {
    background-color: #FFFFFF;
    height: 8vh;
    z-index: 1000;
    position: relative;
}

li {
    display: inline;
    margin: 0;
}

ul {
    padding-left: 0;
}

ul a {
    text-decoration: none;
}

ul li a {
    position: relative;
    top: -3vh;
    margin-left: 3vw;
    font-family: "Alte DIN 1451 Mittelschrift";
    font-size: 2.8vh;
    text-decoration: none;
    color: #000000;
    -webkit-font-smoothing: antialiased;
}

ul li a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #000000;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}

ul li a:hover::after {
    transform: scale(1, 1);
}

.sitelogo {
    background-color: #172733;
    height: 50%;
    margin: 0px;
    padding: 2vh 2vw 2vh 2vw;
    max-height: 100%;
}

.topimage {
    overflow: hidden;
    height: 70vh;
    width: 100vw;
}

#img001 {
    z-index: 20;
    display: block;
    margin: 0 auto;
    width: auto;
    height: 100%;
    position: relative;
    box-shadow: 0 0 10px 0 #000000;
}

#img001_back {
    z-index: 10;
    display: block;
    margin: 0 auto;
    filter: blur(10px);
    width: 110vw;
    position: relative;
    top: -100vh;
    left: -5vw;
}

img#img002 {
    width: 15vw;
    position: absolute;
    top: 35vh;
    left: 5vw;
    z-index: 30;
    filter: drop-shadow(0 0 2px #000000)
}